.App {
  --header-width: 100px;
}

.App__header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--header-width);
  z-index: 2;
}

.App__headBackground {
  background-color: rgb(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
}

.App__headIcons {
  width: var(--header-width);
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__background {
  transform: translate(0, -30%);
  overflow-x: hidden; /* обрезка картинки по ширине экрана */
  height: 1920px;
}

.App__icon {
  width: 64px;
  height: 64px;
}

.App__me, .App__owl {
  height: 716px; /* 95% от высоты видимой области */
  position: absolute;
  left: calc(50vw - (594px / 2));
  top: 6vh;
}

.App__main {
  overflow-x: hidden;
  background-color: #4c38ab;
}

.App__opaGradient {
  position: absolute;
  top: 844px;
  height: 500px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(76,56,173,1) 100%);

}