:root {
    --background: #4c38ab;
    --accentLight: #F7F139;
    --accentDark: #F7B239;
    --text: #FFF8B0;
    --elementLight: #9386D5;
    --elementDark: #22126F;
    --correct: #56C056;
    --error: #FF4040;
}